@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  box-sizing: border-box;
}
body {
  background: white;
  font-family: "Oswald", sans-serif;
  margin: 0;
}
.container {
  width: 100%;
  margin: auto;
}
.header {
  text-align: center;
  background: #685c79;
  padding: 0.3em;
  margin-bottom: 2px;
  font-size: 24px;
  line-height: 1;
}
h1 {
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
}

.streamer-logo {
  margin: auto;
  width: 48px;
  display: block;
  border: 2px solid white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.online {
  background: #8eb9a8;
  cursor: pointer;
}
.online:hover {
  background: white;
}
.offline {
  background: #f4828c;
  color: grey;
}

td {
  border-bottom: 2px solid white;
  text-align: center;
  padding: 15px;
}

.nav-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2px;
  background: rgba(69, 92, 123, 0.7);
}
.selected {
  background: rgba(69, 92, 123, 1);
}

.nav-buttons li {
  text-align: center;
  color: white;
  width: 100%;
  padding: 0.3em;
}

.nav-buttons li:hover {
  background: rgba(69, 92, 123, 1);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
